.main {
  position: absolute;
  top: 56px;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;                
  flex-direction: column;       
  align-items: center;          
  justify-content: space-between; 
  padding: 1rem;
  background-color: #f9f9f9;
}

.imageWrapper {
  text-align: center;
  margin-top: 2rem;
}

.mainImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #AFD77E;
}

.description {
  text-align: center;
  line-height: 1.4;
  color: #666;
  font-size: 0.9rem;
}

/* 요리시작 버튼 */
.startButton {
  width: 180px;
  height: 48px;
  background-color: #64C826;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
}
